<section data-bs-version="5.1" class="menu menu2 cid-t9g44nJ1EI" once="menu" id="menu2-0">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobiri.se">
                       
                       &nbsp;&nbsp;&nbsp; <img src="../assets/images/1655690233138.png" alt="Mobirise Website Builder" style="height: 5.3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-5" href="https://mobiri.se">Furni-Tour</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
<!--                    
                    <li class="nav-item"><a class="nav-link link text-black display-4"  id="fon" routerLink="/profile"><span class="mobi-mbri mobi-mbri-user mbr-iconfont mbr-iconfont-btn"></span>Profile</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4"  id="fon" routerLink="/cart"><span class="mobi-mbri mobi-mbri-shopping-cart mbr-iconfont mbr-iconfont-btn"></span>Cart</a></li> -->
                </ul>
                <style>
                  #fon{
                    font-size: 18px;
                  }
                </style>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" routerLink="" ><span class="mobi-mbri mobi-mbri-login mbr-iconfont mbr-iconfont-btn"></span>Logout</a></div>
            </div>
        </div>
    </nav>
  </section><br><br><br>
<div class="main-block">

    <table width="70%">

        <tr>
            <td>    <a routerLink="/addcategory" class="nav-link active" aria-current="page" href="#">
                <i style="font-size:15px"></i><button>Add category</button> </a></td>
            <td>        <a routerLink="/addproduct" class="nav-link active" aria-current="page" href="#">
                <i style="font-size:15px"></i><button>Add Product</button> </a></td>
                <td>        <a routerLink="/vieworders" class="nav-link active" aria-current="page" href="#">
                    <i style="font-size:15px"></i><button>View All Order Details</button> </a></td>
        </tr>
    </table>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
    
        
    

 
</div>
<app-footer></app-footer>