<app-header></app-header>
<section data-bs-version="5.1" class="slider1 cid-t9g4sVP4dT" id="slider1-7">
    
  <div class="carousel slide" id="t9gsJFlsuA" data-interval="5000" data-bs-interval="5000">
      <ol class="carousel-indicators">
          <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#t9gsJFlsuA" data-bs-target="#t9gsJFlsuA"></li>
          <li data-slide-to="1" data-bs-slide-to="1" data-target="#t9gsJFlsuA" data-bs-target="#t9gsJFlsuA"></li>
          <li data-slide-to="2" data-bs-slide-to="2" data-target="#t9gsJFlsuA" data-bs-target="#t9gsJFlsuA"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item slider-image item active">
              <div class="item-wrapper">
                  <img class="d-block w-100" src="assets/images/modern-minimalist-interior-with-armchair-empty-white-wall-3d-rendering.jpg" alt="Mobirise Website Builder">
                  
                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>Furni-Tour</strong>
                      </h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">Here you get the best deals</p>
                  </div>
              </div>
          </div>
          <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                  <img class="d-block w-100" src="assets/images/living-room-with-yellow-armchair-empty-dark-blue-wall-background-3d-rendering.jpg" alt="Mobirise Website Builder">
                  
                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>Furni-Tour</strong>
                      </h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">Here you get the best deals</p>
                  </div>
              </div>
          </div>
          <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                  <img class="d-block w-100" src="assets/images/1810.sm002.010.ts.m000.c5.interior-realistic.jpg" alt="Mobirise Website Builder">
                  
                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>Furni-Tour</strong>
                      </h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">Here you get the best deals</p>
                  </div>
              </div>
          </div>
      </div>
      <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev" href="#t9gsJFlsuA">
          <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
          <span class="sr-only visually-hidden">Previous</span>
      </a>
      <a style="float: left;" class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next" href="#t9gsJFlsuA">
          <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
          <span class="sr-only visually-hidden">Next</span>
      </a>
  </div>
</section>
<app-footer></app-footer>