
<app-header></app-header>
<div class="about-section">
    <h1>About Us </h1>
    <img class="center" src="https://img.freepik.com/free-vector/teamwork-concept-landing-page_52683-20165.jpg?t=st=1655695799~exp=1655696399~hmac=19c5b772d44b28e461abf0cf97f512f33613722bdd08b79477519de68956ebe7&w=740" style="width:30%;height:auto;" >
    
    <!-- <h4>Furni-Tour </h4> -->
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" >
    <div class="column" style="height: 500px;">
      <div class="card">
        <!-- <img src="https://images.pexels.com/photos/4342352/pexels-photo-4342352.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Jane" style="width:100%"> -->
        <div class="container">
          <h2>Rohini Netekal</h2>
          <p class="title">Co-Founder</p>
          <p></p>
          <p>rohini@furni.com</p>
         
        </div>
      </div>
    </div>
  
   
  
    <div class="column">
      <div  class="card">
        <!-- <img src="https://images.pexels.com/photos/4342352/pexels-photo-4342352.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Jane" style="width:100%"> -->
        <div class="center" class="container">
          <h2>Shrinidhi S Sakalathi[MCA]</h2>
          <p class="title">Co-Founder</p>
          <p></p>
          <p>shrinidhi@furni.com</p>
         
        </div>
      </div>

    </div>

    <div class="column">
      <div  class="card">
        <!-- <img src="https://images.pexels.com/photos/4342352/pexels-photo-4342352.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Jane" style="width:100%"> -->
        <div class="center" class="container">
          <h2>Sahana</h2>
          <p class="title">Co-Founder</p>
          <p></p>
          <p>sahana@furni.com</p>
         
        </div>
      </div>

    </div>
  </div>
<app-footer></app-footer>
