<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        <img id="logo" src="../../assets/l12.PNG" alt="logo" width="80" height="80" /></a>
    </li>
    <a class="navbar-brand" id="a2" href="#">Furni-Tour</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/home" id="a1" class="nav-link active" aria-current="page" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
          <a routerLink="/category" id="a1" class="nav-link active" aria-current="page" href="#">Category</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
          <a routerLink="/contactus" id="a1" class="nav-link active" aria-current="page" href="#"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
          <a routerLink="/aboutus" id="a1" class="nav-link active" aria-current="page" href="#">About Us</a>
        </li>&nbsp;&nbsp;
      </ul>
      
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a routerLink="/cart" id="a2" class="nav-link active btn-hover-dark" aria-current="page" href="#"><i class="fa fa-shopping-cart hover-dark" style="font-size:15px"></i> Cart</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
          <a routerLink="/profile" id="a2" class="nav-link active" aria-current="page" href="#"><i class="fa fa-fw fa-user" style="font-size:15px"></i> Profile</a>
        </li> &nbsp;&nbsp;
        <li class="nav-item">
          <a routerLink="" id="a2" class="nav-link active" aria-current="page" href="#"><i class="fa fa-sign-out-alt" style="font-size:15px"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br> -->

  
<section data-bs-version="5.1" class="menu menu2 cid-t9g44nJ1EI" once="menu" id="menu2-0">
    
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container-fluid">
          <div class="navbar-brand">
              <span class="navbar-logo">
                  <a href="https://mobiri.se">
                     
                      <img src="../assets/images/1655690233138.png" alt="Mobirise Website Builder" style="height: 5.3rem;">
                  </a>
              </span>
              <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-5" href="https://mobiri.se">Furni-Tour</a></span>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item"><a class="nav-link link text-black display-4"  id="fon"  routerLink="/home"><span class="mobi-mbri mobi-mbri-home mbr-iconfont mbr-iconfont-btn"></span>Home</a></li>
                <li class="nav-item"><a class="nav-link link text-black display-4" id="fon"  routerLink="/category"><span class="mobi-mbri mobi-mbri-image-gallery mbr-iconfont mbr-iconfont-btn"></span>Category</a></li>
                  <li class="nav-item"><a class="nav-link link text-black display-4"  id="fon" routerLink="/aboutus"><span class="mobi-mbri mobi-mbri-browse mbr-iconfont mbr-iconfont-btn"></span>About</a></li>
                  <li class="nav-item"><a class="nav-link link text-black display-4" id="fon"  routerLink="/contactus"><span class="socicon socicon-mail mbr-iconfont mbr-iconfont-btn"></span>Contact us</a></li>
                 <!-- <li class="nav-item"><a class="nav-link link text-black display-4"  id="fon" routerLink="/profile"><span class="mobi-mbri mobi-mbri-user mbr-iconfont mbr-iconfont-btn"></span>Profile</a></li>-->
                  <li class="nav-item"><a class="nav-link link text-black display-4"  id="fon" routerLink="/cart"><span class="mobi-mbri mobi-mbri-shopping-cart mbr-iconfont mbr-iconfont-btn"></span>Cart</a></li></ul>
              <style>
                #fon{
                  font-size: 18px;
                }
              </style>
              <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" routerLink="" ><span class="mobi-mbri mobi-mbri-login mbr-iconfont mbr-iconfont-btn"></span>Logout</a></div>
          </div>
      </div>
  </nav>
</section><br><br><br>